body {
    text-align: center;
    background-color: #5ec7d4;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #FDFAF6;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #FDFAF6;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #f3f3f3;
    cursor: pointer;
}
